@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/*
**	Colors
*/
.c-primary { color: navy; }

.c-secondary { color: brown; }

.c-tertiary, a { color: fuchsia; }

.c-quarternary { color: silver; }

.c-text, body { color: gray; }

.c-black { color: black; }

.c-white, button, .button { color: white; }

.bg-primary { background: navy; }

.bg-secondary { background: brown; }

.bg-tertiary, mark, button, .button { background: fuchsia; }

.bg-quarternary, code, samp, button[disabled], .button[disabled] { background: silver; }

.bg-text, hr { background: gray; }

.bg-black { background: black; }

.bg-white, input[type="text"], input[type="password"], input[type="tel"], input[type="url"], input[type="email"], input[type="search"], textarea, select, input[type="radio"], input[type="checkbox"], input[type="range"], input[type="number"], input[type="color"], input[type="date"], input[type="month"], input[type="week"], input[type="datetime"], input[type="datetime-local"], body { background: white; }

.bc-primary { border-color: navy; }

.bc-secondary { border-color: brown; }

.bc-tertiary, input[data-valid="false"][type="text"], input[data-valid="false"][type="password"], input[data-valid="false"][type="tel"], input[data-valid="false"][type="url"], input[data-valid="false"][type="email"], input[data-valid="false"][type="search"], textarea[data-valid="false"], select[data-valid="false"], input[data-valid="false"][type="radio"], input[data-valid="false"][type="checkbox"], input[data-valid="false"][type="range"], input[data-valid="false"][type="number"], input[data-valid="false"][type="color"], input[data-valid="false"][type="date"], input[data-valid="false"][type="month"], input[data-valid="false"][type="week"], input[data-valid="false"][type="datetime"], input[data-valid="false"][type="datetime-local"] { border-color: fuchsia; }

.bc-quarternary, input[data-valid="true"][type="text"], input[data-valid="true"][type="password"], input[data-valid="true"][type="tel"], input[data-valid="true"][type="url"], input[data-valid="true"][type="email"], input[data-valid="true"][type="search"], textarea[data-valid="true"], select[data-valid="true"], input[data-valid="true"][type="radio"], input[data-valid="true"][type="checkbox"], input[data-valid="true"][type="range"], input[data-valid="true"][type="number"], input[data-valid="true"][type="color"], input[data-valid="true"][type="date"], input[data-valid="true"][type="month"], input[data-valid="true"][type="week"], input[data-valid="true"][type="datetime"], input[data-valid="true"][type="datetime-local"] { border-color: silver; }

.bc-text { border-color: gray; }

.bc-black { border-color: black; }

.bc-white { border-color: white; }

/*
**	Fonts
*/
.f-primary, body { font-family: sans-serif; }

.f-secondary { font-family: serif; }

.f-monospace, kbd, code, samp, var, pre { font-family: monospace; }

/*
**	Animations
*/
.a-primary, button, .button { -moz-transition-property: all; -o-transition-property: all; -webkit-transition-property: all; transition-property: all; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transform-origin: center center; -ms-transform-origin: center center; -webkit-transform-origin: center center; transform-origin: center center; }
.a-primary:hover, button:hover, .button:hover { -moz-transform: scale(1.05); -ms-transform: scale(1.05); -webkit-transform: scale(1.05); transform: scale(1.05); }

.a-secondary, button[disabled], .button[disabled] { -moz-transition-property: all; -o-transition-property: all; -webkit-transition-property: all; transition-property: all; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transform-origin: center center; -ms-transform-origin: center center; -webkit-transform-origin: center center; transform-origin: center center; }
.a-secondary:hover, button[disabled]:hover, .button[disabled]:hover { -moz-transform: rotate(2.5deg); -ms-transform: rotate(2.5deg); -webkit-transform: rotate(2.5deg); transform: rotate(2.5deg); }

/*
**	Headings
*/
h1, .h1 { font-size: 60px; font-size: 6rem; line-height: 1.2; }

h2, .h2 { font-size: 45px; font-size: 4.5rem; line-height: 1.2; }

h3, .h3 { font-size: 33px; font-size: 3.3rem; line-height: 1.2; }

h4, .h4 { font-size: 24px; font-size: 2.4rem; line-height: 1.2; }

h5, .h5 { font-size: 18px; font-size: 1.8rem; line-height: 1.2; }

h6, .h6 { font-size: 12px; font-size: 1.2rem; line-height: 1.2; }

/*
**	Paragraph
*/
p, pre, time, address, details summary, ul, ol, dl { font-size: 15px; font-size: 1.5rem; line-height: 1.5; }
p + *, pre + *, time + *, address + *, details summary + *, ul + *, ol + *, dl + * { margin-top: 1em; }

/*
**	Blockquote
*/
blockquote { padding-left: 3em; padding-right: 3em; }
blockquote:before { content: "“"; position: relative; left: -0.6em; float: left; font-size: 5em; height: 0; width: 0; }
blockquote:after { content: "”"; position: relative; right: -0.6em; float: right; font-size: 5em; height: 0; }

/*
**	Inline elements
*/
input[type="text"], input[type="password"], input[type="tel"], input[type="url"], input[type="email"], input[type="search"], textarea, select, input[type="radio"], input[type="checkbox"], input[type="range"], input[type="number"], input[type="color"], input[type="date"], input[type="month"], input[type="week"], input[type="datetime"], input[type="datetime-local"], label, output, button, .button, table caption, table th, table td { font-size: 15px; font-size: 1.5rem; line-height: 1.5; }

em, i, table caption { font-style: italic; }

strong, b, dl dt, table th { font-weight: bold; }

u, ins { text-decoration: underline; }

s, del { text-decoration: line-through; }

sup { vertical-align: super; }

sub { vertical-align: sub; }

small, sup, sub { font-size: 12px; font-size: 1.2rem; line-height: 1.2; }

abbr[title] { cursor: help; }

/*
**	Preformatted text
*/
/*
**	Time
*/
/*
**	Address
*/
/*
**	Details
*/
details summary { outline: none; cursor: pointer; }

/*
**	Progress
*/
progress { height: 2em; width: 10em; }

/*
**	Dividers
*/
hr { height: 2px; border: 0; }

/*
**	Unordered list
*/
ul { padding-left: 3em; list-style: disc; }

/*
**	Ordered list
*/
ol { padding-left: 3em; list-style: decimal; }

/*
**	List items
*/
/*
**	Definition list
*/
dl { padding-left: 1em; }
dl dd { padding-left: 1em; }

/*
**	Images
*/
img { max-width: 100%; height: auto; }

/*
**	Icons
*/
[data-icon]:before { content: "ICON"; }

/*
**	Input fields
*/
input[type="text"], input[type="password"], input[type="tel"], input[type="url"], input[type="email"], input[type="search"], textarea, select, input[type="radio"], input[type="checkbox"], input[type="range"], input[type="number"], input[type="color"], input[type="date"], input[type="month"], input[type="week"], input[type="datetime"], input[type="datetime-local"] { margin: 0; padding: 0 0.5em; border: none; outline: none; display: inline-block; border-style: solid; border-width: 2px; border-color: transparent; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

/*
** Labels
*/
label, output { display: block; }
input[type="text"] + label, input[type="password"] + label, input[type="tel"] + label, input[type="url"] + label, input[type="email"] + label, input[type="search"] + label, textarea + label, select + label, input[type="radio"] + label, input[type="checkbox"] + label, input[type="range"] + label, input[type="number"] + label, input[type="color"] + label, input[type="date"] + label, input[type="month"] + label, input[type="week"] + label, input[type="datetime"] + label, input[type="datetime-local"] + label, input[type="text"] + output, input[type="password"] + output, input[type="tel"] + output, input[type="url"] + output, input[type="email"] + output, input[type="search"] + output, textarea + output, select + output, input[type="radio"] + output, input[type="checkbox"] + output, input[type="range"] + output, input[type="number"] + output, input[type="color"] + output, input[type="date"] + output, input[type="month"] + output, input[type="week"] + output, input[type="datetime"] + output, input[type="datetime-local"] + output { display: inline-block; margin-right: 0.5em; }

/*
**	Text fields
*/
input[type="search"] { -moz-appearance: none; -webkit-appearance: none; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration { -moz-appearance: none; -webkit-appearance: none; }

textarea { resize: vertical; }

/*
**	Select
*/
/*
**	Checkboxes
*/
/*
**	Radios
*/
/*
**	Special
*/
/*
**	Buttons
*/
button, .button { margin: 0; padding: 0 0.5em; border: none; display: inline-block; text-decoration: none; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
button.cta, .button.cta { padding: 0.5em 1em !important; }

/*
**	Tables
*/
table caption + *, table th + *, table td + * { padding-left: 0.5em; }
