//Stolen from Pure.css, but better

@mixin grid($row-name, $col-name, $span-name, $cols, $breakpoints) {
	.#{$row-name} {
	    letter-spacing: -0.31em;
	    *letter-spacing: normal;
	    *word-spacing: -0.43em;
	    text-rendering: optimizespeed;
	    display: -webkit-flex;
	    -webkit-flex-flow: row wrap;
	    display: -ms-flexbox;
	    -ms-flex-flow: row wrap;
	    -ms-align-content: flex-start;
		-webkit-align-content: flex-start;
		align-content: flex-start;
	}
	
	.#{$col-name} {
	    display: inline-block;
	    *display: inline;
	    zoom: 1;
	    letter-spacing: normal;
	    word-spacing: normal;
	    vertical-align: top;
	    text-rendering: auto;
	}
	
	@include cols($col-name, $span-name, $cols);
	
	@each $name, $breakpoint in $breakpoints {
		$keys: map-keys($breakpoint);
		$key: nth($keys, 1);
		$width: map-get($breakpoint, $key);
		@media screen and (#{$key}-width: $width) {
		    @include cols($col-name, #{$span-name}-#{$name}, $cols);
		}
	}
}

@mixin cols($col-name, $span-name, $cols) {
	@each $col in $cols {
		@for $i from 1 through $col {
			.#{$col-name} {
				&.#{$span-name}-#{$i}-#{$col} {
					width: ($i / $col) * 100%;
					*width: ($i / $col) * 100% - 0.031%;
				}
			}
		}
	}
}
