/*
**	Colors
*/

.c-primary, %c-primary {
	color: map-get($colors, 'primary');
}

.c-secondary, %c-secondary {
	color: map-get($colors, 'secondary');
}

.c-tertiary, %c-tertiary {
	color: map-get($colors, 'tertiary');
}

.c-quarternary, %c-quarternary {
	color: map-get($colors, 'quarternary');
}

.c-text, %c-text {
	color: map-get($colors, 'text');
}

.c-black, %c-black {
	color: map-get($colors, 'black');
}

.c-white, %c-white {
	color: map-get($colors, 'white');
}

.bg-primary, %bg-primary {
	background: map-get($colors, 'primary');
}

.bg-secondary, %bg-secondary {
	background: map-get($colors, 'secondary');
}

.bg-tertiary, %bg-tertiary {
	background: map-get($colors, 'tertiary');
}

.bg-quarternary, %bg-quarternary {
	background: map-get($colors, 'quarternary');
}

.bg-text, %bg-text {
	background: map-get($colors, 'text');
}

.bg-black, %bg-black {
	background: map-get($colors, 'black');
}

.bg-white, %bg-white {
	background: map-get($colors, 'white');
}

.bc-primary, %bc-primary {
	border-color: map-get($colors, 'primary');
}

.bc-secondary, %bc-secondary {
	border-color: map-get($colors, 'secondary');
}

.bc-tertiary, %bc-tertiary {
	border-color: map-get($colors, 'tertiary');
}

.bc-quarternary, %bc-quarternary {
	border-color: map-get($colors, 'quarternary');
}

.bc-text, %bc-text {
	border-color: map-get($colors, 'text');
}

.bc-black, %bc-black {
	border-color: map-get($colors, 'black');
}

.bc-white, %bc-white {
	border-color: map-get($colors, 'white');
}

/*
**	Fonts
*/

.f-primary, %f-primary {
	font-family: sans-serif;
}

.f-secondary, %f-secondary {
	font-family: serif;
}

.f-monospace, %f-monospace {
	font-family: monospace;
}

/*
**	Animations
*/

.a-primary, %a-primary {
	@include transition-property(all);
	@include transition-duration(0.5s);
	@include transform-origin(center, center);
	
	&:hover {
		@include transform(scale(1.05));
	}
}

.a-secondary, %a-secondary {
	@include transition-property(all);
	@include transition-duration(0.5s);
	@include transform-origin(center, center);
	
	&:hover {
		@include transform(rotate(2.5deg));
	}
}

/*
**	Headings
*/

h1, .h1, %h1 {
	@include font(60px, 1.2);
}

h2, .h2, %h2 {
	@include font(45px, 1.2);
}

h3, .h3, %h3 {
	@include font(33px, 1.2);
}

h4, .h4, %h4 {
	@include font(24px, 1.2);
}

h5, .h5, %h5 {
	@include font(18px, 1.2);
}

h6, .h6, %h6 {
	@include font(12px, 1.2);
}

/*
**	Paragraph
*/

p, %p {
	@include font(15px, 1.5);
	
	& + * {
		margin-top: 1em;
	}
}

/*
**	Blockquote
*/

blockquote {
	padding-left: 3em;
	padding-right: 3em;
	
	&:before {
		content: "“";
		position: relative;
		left: -0.6em;
		float: left;
		font-size: 5em;
		height: 0;
		width: 0;
	}
	
	&:after {
		content: "”";
		position: relative;
		right: -0.6em;
		float: right;
		font-size: 5em;
		height: 0;
	}
}

/*
**	Inline elements
*/

%inline {
	@include font(15px, 1.5);
}

a {
	@extend %c-tertiary;
}

em, %em {
	font-style: italic;
}

strong, %strong {
	font-weight: bold;
}

b {
	@extend %strong;
}

i {
	@extend %em;
}

u, %u {
	text-decoration: underline;
}

del {
	@extend %s;
}

ins {
	@extend %u;
}

s, %s {
	text-decoration: line-through;
}

sup, %sup {
	vertical-align: super;
	@extend %small;
}

sub, %sub {
	vertical-align: sub;
	@extend %small;
}

small, %small {
	@include font(12px, 1.2);
}

abbr {
	&[title] {
		cursor: help;
	}
}

kbd {
	@extend %f-monospace;
}

q {
	
}

dfn {
	
}

mark {
	@extend %bg-tertiary;
}

code, %code {
	@extend %bg-quarternary, %f-monospace;
}

samp {
	@extend %code;
}

var {
	@extend %f-monospace;
}

/*
**	Preformatted text
*/

pre {
	@extend %p;
	@extend %f-monospace;
}

/*
**	Time
*/

time {
	@extend %p;
}

/*
**	Address
*/

address {
	@extend %p;
}

/*
**	Details
*/

details {
	summary {
		@extend %p;
		outline: none;
		cursor: pointer;
	}
}

/*
**	Progress
*/

progress {
	height: 2em;
	width: 10em;
}

/*
**	Dividers
*/

hr {
	@extend %bg-text;
	height: 2px;
	border: 0;
}

/*
**	Unordered list
*/

ul {
	padding-left: 3em;
	list-style: disc;
	@extend %p;
}

/*
**	Ordered list
*/

ol {
	padding-left: 3em;
	list-style: decimal;
	@extend %p;
}

/*
**	List items
*/

/*
**	Definition list
*/

dl {
	padding-left: 1em;
	@extend %p;
	
	dt {
		@extend %strong;
	}
	
	dd {
		padding-left: 1em;
	}
}

/*
**	Images
*/

img {
	max-width: 100%;
	height: auto;
}

/*
**	Icons
*/

[data-icon] {
	&:before {
		content: "ICON";
	}
}

/*
**	Input fields
*/

%input {
	margin: 0;
	padding: 0 0.5em;
	border: none;
	outline: none;
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
	@include border-radius(5px);
	@extend %inline, %bg-white;
	
	&[data-valid="true"] {
		@extend %bc-quarternary;
	}
	
	&[data-valid="false"] {
		@extend %bc-tertiary;
	}
}

/*
** Labels
*/

label, %label {
	display: block;
	@extend %inline;
	
	%input + & {
		display: inline-block;
		margin-right: 0.5em;
	}
}

/*
**	Text fields
*/

input[type="text"], input[type="password"], input[type="tel"], input[type="url"], input[type="email"] {
	@extend %input;
}

input[type="search"] {
	@extend %input;
	@include appearance(none);
	
	&::-webkit-search-cancel-button, &::-webkit-search-decoration, &::-webkit-search-results-button, &::-webkit-search-results-decoration {
		@include appearance(none);
	}
}

textarea {
	@extend %input;
	resize: vertical;
}

/*
**	Select
*/

select {
	@extend %input;
}

/*
**	Checkboxes
*/

input[type="radio"] {
	@extend %input;
}

/*
**	Radios
*/

input[type="checkbox"] {
	@extend %input;
}

/*
**	Special
*/

input[type="range"] {
	@extend %input;
}

output {
	@extend %label;
}

input[type="number"], input[type="color"], input[type="date"], input[type="month"], input[type="week"], input[type="datetime"], input[type="datetime-local"] {
	@extend %input;
}

/*
**	Buttons
*/

button, .button, %button {
	margin: 0;
	padding: 0 0.5em;
	border: none;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	@include border-radius(5px);
	@extend %inline, %bg-tertiary, %c-white, %a-primary;
	
	&.cta {
		padding: 0.5em 1em !important;
	}
	
	&[disabled] {
		@extend %bg-quarternary, %a-secondary;
	}
}

/*
**	Tables
*/

table {
	caption, th, td {
		@extend %inline;
		
		& + * {
			padding-left: 0.5em;
		}
	}
	
	caption {
		@extend %em;
	}
	
	th {
		@extend %strong;
	}
}