$v: 8;
$max-width: 1200px;
$row-name: 'row';
$col-name: 'col';
$span-name: 'span';
$push-name: 'push';
$cols: (12, 5);
$breakpoints: (
	's-o': (min: 35.5em),
	'm-o': (min: 48em),
	'l-o': (min: 64em),
	'x-o': (min: 80em),
	'g-o': (min: 96em),
	'g-u': (max: 96em),
	'x-u': (max: 80em),
	'l-u': (max: 64em),
	'm-u': (max: 48em),
	's-u': (max: 35.5em)
);
$boxes: (
	'huge': (size: v(14px), breakpoints: (x-u: v(9px), m-u: v(7px))),
	'big': (size: v(10px), breakpoints: (x-u: v(6px), m-u: v(5px))),
	'large': (size: v(7px), breakpoints: (x-u: v(4px), m-u: v(3px))),	
	'medium': (size: v(4px), breakpoints: (x-u: v(2px))),
	'small': (size: v(2px), breakpoints: (x-u: v(1px))),
	'tiny': (size: v(1px)),
	'none': (size: 0)
);
$colors: (
	'primary': navy,
	'secondary': brown,
	'tertiary': fuchsia,
	'quarternary': silver,
	'text': gray,
	'black': black,
	'white': white
);
$icons: (
	'mask': #0F0F0F,
	'names': (
		arrow-up: ('primary', 'secondary', 'tertiary'),
		arrow-down: ('primary', 'secondary')
	)
);