@import 'compass';
@import 'variables';
@import 'mixins';

@import 'compass/reset';

@import '00-atoms';
@import '01-molecules';
@import '02-organisms';
@import '03-templates';
@import '04-pages';

* {
	@include box-sizing(border-box);
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	@extend %f-primary, %bg-white, %c-text;
	@include display-flex(flex);
	@include flex-direction(column);
	min-height: 100vh;
}

#main {
	@include flex(1);
}